@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111111;
  --input-border: #d1d5db;
  --button-primary: #1f2937;
  --button-primary-hover: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
}
